.users {
  margin: 100px 0;
}

.users__content {
  display: grid;
  row-gap: 15px;
  padding: 20px 20px 15px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

@media (max-width: 800px) {
  .users__content {
    row-gap: 30px;
  }
}