.block {
  justify-self: center;
  align-self: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #A8DF8E;
  animation: myAnim 1.5s ease 0s 1 normal forwards;
}

.block__icon {
  min-width: 8rem;
  min-height: 8rem;
  fill: #fff;
  cursor: pointer;
}

.block__remove {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@keyframes slideOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}