.block {
  justify-self: center;
  align-self: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #A8DF8E;
  animation: smoothBounce 1.5s ease 0s 1 normal forwards;
}

.block__icon {
  min-width: 9rem;
  min-height: 9rem;
  fill: #fff;
  cursor: pointer;
}

.block__remove {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* Animation */

@keyframes smoothBounce {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}

@-webkit-keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@keyframes slideOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

/* Adaptive */

@media (max-width: 1250px) {
  .block__icon {
    min-width: 10rem;
    min-height: 10rem;
  }
}

@media (max-width: 950px) {
  .block__icon {
    min-width: 18vw;
    min-height: 18vw;
  }
}

@media (max-width: 675px) {
  .block__icon {
    min-width: 20vw;
    min-height: 20vw;
  }
}

@media (max-width: 285px) {
  .block__icon {
    min-width: 30vw;
    min-height: 30vw;
  }
}