.panel {
  width: 100%;
  max-width: 550px;
  position: fixed;
  right: 50%;
  bottom: 5rem;
  transform: translateX(50%);
  background: #00A9FF;
  border-radius: 0.375rem;
}

.panel__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.panel__button {
  padding: .5rem 1.5rem;
  border-radius: 0.375rem;
  background-color: #D2E0FB;
  transition: box-shadow .2s linear;
}

.panel__button:hover {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.panel__icon {
  width: 2rem;
  height: 2rem;
  fill: #000;
  transition: transform .2s ease-in-out, fill .2s linear;
}

.panel__button:hover .panel__icon {
  transform: translateY(-1rem);
}

@media (max-width: 750px) {
  .panel {
    max-width: 250px;
  }

  .panel__container {
    display: grid;
    grid-template-columns: repeat(2, 80px);
    grid-template-rows: repeat(2, 48px);
    row-gap: 20px;
  }
}

@media (max-width: 300px) {
  .panel {
    max-width: 200px;
  }

  .panel__container {
    row-gap: 10px;
    column-gap: 5px;
  }
}